@import "_base.scss";

// Define style name
$styleName: ".style-clarity";

/*! Typebase.scss v0.1.0 | MIT License */

// Typesetting variables. Edit these!
$baseFontSize:16; // in pixels. This would result in 22px on desktop
$baseLineHeight:1.5; // how large the line height is as a multiple of font size
$leading:$baseLineHeight * 1rem;
// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
// $scale:1.414;
$scale:1.2;
$scaleDown: 0.85;


/* Setup */
#{$styleName},
html {
    /* Change default typefaces here */
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: $baseFontSize / 16 * 100%;
    // Make everything look a little nicer in webkit
    -webkit-font-smoothing: antialiased;
    // -webkit-text-size-adjust: auto
    // -moz-text-size-adjust: auto
    // -ms-text-size-adjust: auto
    // -o-text-size-adjust: auto
    // text-size-adjust: auto

}
#{$styleName},
body {
    color: #111;
}


#{$styleName} {

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    /* Change heading typefaces here */
    // font-family: sans-serif;
    margin-top: 1em;
    // Same as default font size
    margin-bottom: 1rem;
    line-height: $leading;
    color: #111;
}
h1 {
    font-size: 2 * $scale * 1rem;
    line-height: 2 * $leading;
    // Title needs no top margin
    // margin-top: 1 * $leading;
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
}
h2 {
    font-size: 1.5 * $scale * 1rem;
    line-height: 1.5 * $leading;
    color: #222;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #ddd;
}
h3 {
    font-size: 1 * $scale * 1rem;
    line-height: 1 * $leading;
    color: #222;
}

/* h1 ~ h3 is enough to use, if you still want to use h4 ~ h6, they are giving
wierd styles to be distinguished ... */
h4, h5, h6 {
    font-size: 1rem;
}
h4 {
    color: #333;
}
h5 {
    color: #333;
    text-decoration: underline;
}
h6 {
    color: #333;
    text-decoration: underline;
    font-weight: normal;
}


/* Block */

/* Normally, block has no top margin, but a 1em bottom margin */
p,
ul, ol,
blockquote,
pre
{
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: $leading;
}

ul,
ol {
    margin-top: 0;
    li {
        line-height: $leading;
    }
    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}
li > p:first-child {
    margin: 0;
}

pre {
    font-size: $scaleDown * 1rem;
    line-height: $scaleDown * $leading;
    padding: 1rem;
    background: #f7f7f7;
}
code {
    // Forces text to constrain to the line-height. Not ideal, but works.
    vertical-align: bottom;
}

blockquote {
    line-height: $leading;
    margin-left: 0;
    margin-right: 0;
    padding: 1rem;
    border-left: 5px solid #eee;
    background: #f7f7f7;
}
blockquote > p:last-child {
    margin: 0;
}

hr {
    height: 3px;
    padding: 0;
    margin: 1rem 0;
    background-color: #e7e7e7;
    border: 0 none;
}

/* Inline */
a {
    transition: color .2s ease-in-out;
    color: #0d6ea1;
    text-decoration: none;
}

a:hover {
    color: #3593d9;
}

p > em {
    color: #888;
    font-size: .9em;
}

/* Tables */

table {
    margin-top: $leading;
    border-spacing: 0px;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
    line-height: $baseLineHeight * $baseFontSize - 0px;
}


/* Leading paragraph text */

.lead {
    font-size: $scale * 1rem;
}
/* Hug a the block above you */

.hug {
    margin-top: 0;
}

}

@media print {
    body {
        overflow: auto;
    }

    img,pre,blockquote,table,figure,p {
        page-break-inside: avoid;
    }

    #wrapper {
        background: #fff;
        color: #303030;
        font-size: 85%;
        padding: 10px;
        position: relative;
        text-indent: 0;
    }
}

