doctype html
html(lang="en")
  head
    title Printable CSS
    style.
      html {
        background: #eee;
      }
      body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin: 4em;
        padding: 3em;
        font-size: 15px;
        background: #fff;
        box-shadow: 0 0 5px #aaa;
      }
      li {
        margin-bottom: .5em;
      }
  body
    p This page is an entrance for previews of printable css styles:
    ul
      li
        a(href='style-clarity.html') style-clarity
      li
        a(href='style-clarity-cn.html') style-clarity-cn
      li
        a(href='style-mono.html') style-mono
      li
        a(href='style-mono-cn.html') style-mono-cn
